.icons {
    text-align: center;
}

.icons a {
    padding: 20px;
    margin-top: 20px;
}

.fa-solid.fa-gift.fa-3x {
    color: rgb(197, 57, 57);
}
.fa-solid.fa-gift.fa-3x:hover {
    color: rgb(253, 2, 2);
}

.fa-brands.fa-twitter.fa-3x {
    color: rgb(29, 181, 207);
}
.fa-brands.fa-twitter.fa-3x:hover {
    color: rgb(0, 217, 255);
}

.fa-brands.fa-instagram.fa-3x {
    color: rgb(245, 184, 70);
}
.fa-brands.fa-instagram.fa-3x:hover {
    color: rgb(238, 255, 0);
}

.fa-solid.fa-globe.fa-3x {
    color: rgb(91, 91, 249);
}
.fa-solid.fa-globe.fa-3x:hover {
    color: rgb(0, 4, 255);
}