* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-image: url('images/sunset.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

header .nav-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #fff;
    background-color: rgb(55, 55, 91);
    height: 55px;
}

header .nav-section .logo {
    display: flex;
    font-weight: bold;
    align-items: center;
}

header .nav-section a {
    text-decoration: none;
    color: white;
    align-items: center;
    display: flex;
}

header .nav-section i {
    display: flex;
    align-items: center;
}


header .nav-section a:hover {
    color: #b7b7b7;
}


header .nav-section i:hover {
    color: #b7b7b7;
}

header .page-container {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .page-container .button-container {
    display: flex;
    gap: 10px;
    text-align: center;
}

header .page-container .button-container button {
    background-color: rgb(55, 55, 91);
    border: 2px solid rgb(55, 55, 91);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
    height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
}

header .page-container .button-container button a {
    background-color: rgb(55, 55, 91);
    text-decoration: none;
    color: #fff;
    border-color: rgb(55, 55, 91);
}

header .page-container .button-container button a:hover {
    color: #b7b7b7;
}



main #slider {
    position: relative;
    width: 100%;
    height: 350px;
    margin: 13px auto;
    overflow: hidden;
    border-radius: 10px;
}

main #slider .slide {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: none;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main #slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.45);
    color: #fff;
    border: none;
    padding: 8px 10px;
    cursor: pointer;
    border-radius: 4px;
    z-index: 10;
}

main #slider button:hover {
    background: rgba(0, 0, 0, 0.65);
}

main #slider #prev {
    left: 12px;
}

main #slider #next {
    right: 12px;
}


main #slider .slide1 {
    background-image: url('images/board.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main #slider .slide2 {
    background-image: url('images/dunno.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

main #slider .slide3 {
    background-image: url('images/table.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 400px;
}

main .about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

main .about-container .pseudo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

main .pseudo-line1 {
    background-color: rgb(55, 55, 91);
    width: 30px;
    height: 1px;
}

main .pseudo-dot {
    background-color: rgb(55, 55, 91);
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

main .pseudo-line2 {
    background-color: rgb(55, 55, 91);
    width: 30px;
    height: 1px;
}

main .about {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

main .about .text-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: #b7b7b7 2px 2px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main .about .text-box p {
    color: #3d3d3d;
}

main .about .text-box button {
    background-color: rgb(52, 52, 92);
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

main .about .text-box button:hover {
    background-color: rgb(75, 75, 121);
}

main .about .text-box button a {
    text-decoration: none;
    color: white;
}

main .our-service-container .h1-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .our-service-container .h1-container .pseudo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

main .our-service-container .h1-container h1 {
    padding-bottom: 10px;
}

main .our-service-container .services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    overflow-wrap: normal;
    flex-wrap: wrap;
    gap: 10px;
}

main .our-service-container .services .service-box {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: #b7b7b7 2px 2px 5px;
    margin: 10px;
    width: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 160px;
}

main .our-service-container .services .service-box i {
    color: rgb(143, 42, 154);
    padding-bottom: 10px;
    padding-top: 14px;
}

main .our-service-container .services .service-box h2 {
    color: rgb(94, 30, 101);
    padding-bottom: 15px;
}

main .our-service-container .services .service-box p {
    color: #616161;
}


main .team .our-team {
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding-bottom: 20px;
}

main .team .our-team .pseudo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    text-align: center;
    justify-content: center;
}


main .team .team-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 10px;
}

main .team .team-card-container .team-cards {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    box-shadow: #525252 2px 2px 5px;
    justify-content: space-around;
    align-items: center;
    width: 314px;
    height: 412px;
}

main .team .team-card-container .team-cards img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 20px;
}

main .team .team-card-container .team-cards .icons {
    color: rgb(47, 155, 188);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}


main .get-in-touch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 30px;
    box-shadow: #a5a5a5 2px 2px 5px;
}

main .get-in-touch-container .submit {
    width: 49%;
    text-align: center;
}

main .get-in-touch-container .location {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 380px;
    padding-top: 20px;
}

main .get-in-touch-container .submit form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .get-in-touch-container .submit form .type {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    border-right: solid #fff;
}

main .get-in-touch-container .submit form button {
    background-color: rgb(55, 55, 91);
    color: #ffffff;
    height: 30px;
    width: 90px;
    border-radius: 4px;
    font-weight: bolder;
    border-bottom:  1px 0 solid #aeaeae;
}