<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TestSite</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="instagram.logo.webp">
</head>

<body>
    <nav class="MainNav">
        <ul>
            <a href="Home.html" style="padding-left: 70px;">
                <li>
                    Home
                </li>
            </a>
            <a href="About.html">
                <li>
                    About
                </li>
            </a>
            <a href="Products.html">
                <li>
                    Products
                </li>
            </a>
            <a href="Contact.html">
                <li style="padding-right: 50px;">
                    Contact
                </li>
            </a>
        </ul>
    </nav>
    <header>
        <h1>
            header
        </h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat inventore iusto a, beatae odio doloremque
            reiciendis blanditiis facilis error nobis sint perferendis enim, nisi mollitia cupiditate nesciunt
            perspiciatis aut id?
        </p>
    </header>
    <nav class="navbar">

    </nav>
    <main>
        <aside>
            <h3>this is aside</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime corporis laborum maiores dolorem
                perferendis, nam atque eos beatae animi, laboriosam natus! Beatae cum, laboriosam incidunt libero
                deserunt fugit veniam quidem.</p>
        </aside>
        <section>
            <h3>this is section</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta cupiditate suscipit laboriosam ullam
                aperiam eos distinctio amet. Sint, asperiores ducimus facere animi quis quia fugiat enim numquam
                accusamus error odit.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum tenetur dolore eos velit. Alias
                architecto dolor sit, dolore impedit vitae sequi libero inventore qui illum atque quos magnam blanditiis
                commodi?
            </p>
        </section>
        <article>
            <h3>this is an article</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quam corrupti numquam! Pariatur,
                deleniti. Eaque atque numquam alias! Consequuntur, non dolorem reprehenderit iste at dignissimos
                voluptatem commodi amet tempora nam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam in placeat eius fugiat, sapiente
                cupiditate maiores eveniet natus modi quis perspiciatis iusto pariatur aut qui dolorum similique sunt
                quaerat ratione!
            </p>
        </article>
    </main>

</body>

</html>