* {
    background-color: rgb(2, 7, 37);
}


header .name {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .name nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header .name nav a {
    color: #ffffff;
    text-decoration: none;
}