body {
    background-color: aliceblue;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#box {
    width: 250px;
    height: 250px;
    background-color: rgb(230, 230, 7);
    font-size: 13em;
    text-align: center;
    border: 3px solid rgb(173, 112, 112);
    color: white;

    /* ANIMATION TIMING FUNCTION IS USEFUL FOR DESIGN */
    /* CAN BE PAUSED THOUGH */
    /* ANIMATION DIRECTION CAN BE ALTERNATE  */
    /* ANIMATION-ITERATION-COUNT CAN BE INFINITE OR 2 ETC */
    /* animation-name: slideleft;
    animation-duration: 1s;   CAN BE SLIDE UP, DOWN, LEFT, RIGHT */

}

img {
    animation-name: slideRight;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-play-state: paused;
}

#box:hover {
    animation-name: glow;
    animation-duration: 1s;
    animation-duration: infnite;

}

@keyframes slideleft {
    from {
        transform: translateX(900px);
    }
}

/* @keyframes slideleft {
    from {
        transform: translateX(100px);
    }
}*/


@keyframes slideRight {
    to {
        transform: translateX(1000px);
    }
}

@keyframes rotate {
    50% {
        transform: rotate(180deg);
    }
}

/* CAN BE ROTATE XYZ */
@keyframes grow {
    50% {
        transform: scale(2);
    }
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

/* PERCENT: PERCENT MEANS ANIMATION DURATION'S TIME, EX; 25% MEANS 1 SECOND OF 4 SECOND  */
@keyframes glow {
    50% {
        box-shadow: 0px 0px 200px yellow;
    }
}

.car {
    width: 150px;
    height: 150px;
}