body {
    background-image: url(cyberpunk2077.png);
    text-align: center;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    color: #daf339;
    padding: 10px;
}

p {
    color: rgb(55, 246, 224);
    padding: 10px;
}

button {
    display: block;
    text-align: center;
    height: 30px;
    width: 60px;
    border-radius: 0px 50px;
    color: #d4d4d4;
    background-color: #854F6C;
    text-align: center;
    border: none;
}

.content {
    flex-direction: row;
    flex-flow: row;
    text-align: center;
    padding: 7px;
}

button a:hover {
    color: rgb(255, 255, 255);
    font: 30px;

}

button a {
    text-decoration: none;
    color: rgb(150, 150, 150);
    display: block;
}

.content b {
    float: left;
    color: #ae73bc;
}