header {
    background-color: rgb(182, 182, 182);
    text-align: center;
    padding: 20px;
    color: white;
}

.navbar {
    background-color: aliceblue;
    color: rgb(170, 170, 170);
    height: 80px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: row;
}
aside {
    width: 20%;
    float: left;
    padding: 20px;
}

section {
    width: 40%;
    float: left;
    padding: 20px;
}

article {
    width: 40%;
    float: left;
    padding: 20px;
}

footer {
    background-color: black;
    display: block;
    text-align: center;
    padding: 20px;
    clear: both;
}